<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.touristGuide_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/touristGuide_app"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.EventEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PickMap"
            android:exported="false" />
        <activity
            android:name=".Activities.CalendarEmpty"
            android:exported="false" />
        <activity
            android:name=".Activities.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ListOfPointOfInterest"
            android:exported="false" />
        <activity
            android:name=".Activities.ListOfEvents"
            android:exported="false" />
        <activity
            android:name=".Activities.ListOfEvents_per_day"
            android:exported="false" />
        <activity
            android:name=".Activities.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.Begin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>
</manifest>