<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537054634839-2epdmckefsdft9phs2ib1a8v0gos2ldl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537054634839-2epdmckefsdft9phs2ib1a8v0gos2ldl</string>
	<key>API_KEY</key>
	<string>AIzaSyAaARUk0A7ybDNKLAebTvg2jkOfS_htZJc</string>
	<key>GCM_SENDER_ID</key>
	<string>537054634839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ssdFrontend</string>
	<key>PROJECT_ID</key>
	<string>peci-sgd</string>
	<key>STORAGE_BUCKET</key>
	<string>peci-sgd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537054634839:ios:a28c14e5fff26e2ce09412</string>
</dict>
</plist>